{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <section class="section">
        <div class="container is-max-desktop">
            <div class="columns is-mobile has-text-centered is-centered">
                <div class="column is-half">
                    <div class="card">
                        <div class="card-content">
                            <h1 class="title is-4">{% trans "Change Password" %}</h1>
                            <p class='my-4'>{% trans 'Your password is now changed.' %}</p>
                            <a class="button is-success" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
